@using System.Drawing
@using System.Web.UI.WebControls
@model Bps.BpsBase.Entities.Concrete.GN.GNFILE
@{
    var urlImage = Model.FLTYPE == 0 ? Model.GNPATH : "#";
    var uploadSize = (Size) ViewData["UploadSize"];
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#imagePath").val('@Model.GNPATH');
        $("#uploadedImage").attr("src", '@Model.GNPATH');
    });
    function onUploadControlFileUploadComplete(s, e) {
        console.log(arguments);
        var path = e.callbackData;
        if (e.isValid) {
            $("#imagePath").val(path);
            $("#uploadedImage").attr("src", e.callbackData);
        }
        setElementVisible("uploadedImage", e.isValid);
    }
    function onImageLoad() {
        var externalDropZone = $("#externalDropZone");
        var uploadedImage = $("#uploadedImage");
        uploadedImage.css({
            left: (externalDropZone.width() - uploadedImage.width()) / 2,
            top: (externalDropZone.height() - uploadedImage.height()) / 2
        });
        setElementVisible("dragZone", false);
    }
    function setElementVisible(elementId, visible) {
        var el = $("#" + elementId);
        if (visible)
            el.show();
        else
            el.hide();
    }
</script>
<input type="hidden" id="imagePath" name="imagePath">
<div id="externalDropZone" class="dropZoneExternal">
    <div id="dragZone">
        <span class="dragZoneText">Drag an image here</span>
    </div>
    <img id="uploadedImage" src="@urlImage" alt="" style="display: block" onload="onImageLoad()" />
    <div id="dropZone" style="display: none">
        <span class="dropZoneText">Drop an image here</span>
    </div>
</div>
@using (Html.BeginForm())
{
    <div class="uploadContainer">
        @Html.DevExpress().UploadControl(settings =>
       {
           settings.ShowProgressPanel = true;
           settings.CallbackRouteValues = new {Controller = "Upload", Action = "DragAndDropImageUpload", area = "", width = uploadSize.Width, height=uploadSize.Height};
           settings.Name = "ucDragAndDrop";
           settings.UploadMode = UploadControlUploadMode.Auto;
           settings.ValidationSettings.DisableHttpHandlerValidation = true;
           settings.AutoStartUpload = true;
           settings.ValidationSettings.ShowErrors = false;
           settings.Width = Unit.Percentage(0);
           settings.ShowUploadButton = false;
           settings.DialogTriggerID = "externalDropZone";
           settings.AdvancedModeSettings.EnableDragAndDrop = true;
           settings.AdvancedModeSettings.EnableFileList = false;
           settings.AdvancedModeSettings.EnableMultiSelect = false;
           settings.AdvancedModeSettings.ExternalDropZoneID = "externalDropZone";
           settings.AdvancedModeSettings.DropZoneText = "";
           settings.ValidationSettings.MaxFileSize = 4194304;
           settings.ValidationSettings.AllowedFileExtensions = new string[] { ".jpg", ".jpeg", ".gif", ".png" };
           settings.ValidationSettings.ErrorStyle.CssClass = "validationMessage";
           settings.BrowseButton.Text = "Select an image for upload...";
           settings.Styles.DropZone.CssClass = "uploadControlDropZone";
           settings.ClientSideEvents.DropZoneEnter = "function(s, e) { if(e.dropZone.id == 'externalDropZone') setElementVisible('dropZone', true); }";
           settings.ClientSideEvents.DropZoneLeave = "function(s, e) { if(e.dropZone.id == 'externalDropZone') setElementVisible('dropZone', false); }";
           settings.ClientSideEvents.FileUploadComplete = "onUploadControlFileUploadComplete";
       }).GetHtml()
    </div>
}
<br />
<br />
@Html.DevExpress().Label(settings => { settings.Text = "Sadece JPG, GIF yada PNG dosya tipinde yükleme yapılabilir."; }).GetHtml()
<br />
@Html.DevExpress().Label(settings => { settings.Text = "Maximum dosya boytu: 4MB."; }).GetHtml()